.customer-container.css-1oqqzyl-MuiContainer-root
{
    padding:75px 75px;
    background-color: var(--backgroundColor);
    color: var(--color);
    max-width: 100vw;
}
.customer-cards
{
    display: flex;
    gap:10px;
    justify-content: space-between;
    padding: 0px 15px;
    flex-wrap: wrap;
}

@media screen and (max-width:768px)
{
    
}