
.download-container
{
    display: flex;
    padding: 75px 0px;
    justify-content: space-between;
    background-color: var(--backgroundColor);
    color:var(--color);
}
.box1
{
    width: 500px;
    border-radius: 0px 50% 50% 0%;
    background-color: var(--boxColor);
}
.box2
{
    width: 500px;
    border-radius: 50% 0% 0% 50%;
    background-color: var(--boxColor);
}
.download-title
{
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 14px;
    color:var(--color);
    display: flex;
    justify-content: center;
}
.download-desc
{
    font-size: 14px;
    font-weight: 400;
    color:var(--gray);
    line-height: 23px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    max-width: 540px;
    width: 100%;
}
.download-buttons
{
    padding: 15px;
    border-radius: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.download-buttons
{
    display: flex;
    gap:20px;
}
.data 
{
    padding:10px 50px;
}

@media screen and (max-width:768px)
{
    .download-title
    {
        font-size: 25px;
    }
    .download-desc
    {
        font-size: 10px;
        
    }
}
